
<!--================login_part Area =================-->
 <section class="login_part section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        <br>
                        <br>
                        <p>There are advances being made in science and technology
                            everyday, and a good example of this is the</p>
                        <br>
                         <button class="btn btn btn-sml btn-block"><a href="/register">Create An Account</a></button>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <br>
                        <br>
                        <h3>Welcome Back ! <br>
                           <br>
                            Please Login now</h3>
                             {{#if hasErrors}}
    <div class="alert alert-danger">
      {{#each messages}}
        <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
                        <form class="form-signin" action="/login" method="post">
                            <div class="col-md-12 form-group p_star">
                                <input type="text" name="username" class="form-control" placeholder="Name" required autofocus>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" name="password" class="form-control" placeholder="Password" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <!-- <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Remember me</label>
                                </div> -->
                                 <button type="submit" value="submit" class="btn btn btn-lg btn-block">
                                Login
                                </button>
                                
                                <!-- <a class="lost_pass" href="#">forget password?</a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->
